<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tids.shopncart">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:usesCleartextTraffic="true"
        android:name="com.tids.shopncart.utils.MultiLanguageApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tids.shopncart.about.AboutActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.login.LoginActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.settings.payment_method.EditPaymentMethodActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.settings.payment_method.AddPaymentMethodActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.settings.payment_method.PaymentMethodActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.settings.categories.CategoriesActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.expense.EditExpenseActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.suppliers.EditSuppliersActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.customers.EditCustomersActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.product.EditProductScannerViewActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.pdf_report.ViewPDFActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.pos.ScannerActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.product.ScannerViewActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.product.EditProductActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.settings.shop.ShopInformationActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.report.ExpenseGraphActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.report.ExpenseReportActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.expense.AddExpenseActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.settings.SettingsActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.expense.ExpenseActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.report.GraphReportActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.report.SalesReportActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.report.ReportActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.orders.OrderDetailsActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.orders.OrdersActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.pos.ProductCart" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.pos.PosActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.product.AddProductActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.product.ProductActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="com.tids.shopncart.suppliers.AddSuppliersActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.suppliers.SuppliersActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.tids.shopncart.customers.AddCustomersActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.customers.CustomersActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.report.SummaryReportActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.settings.sync.SyncActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.clockinclockout.ClockInClockOutActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.settings.categories.CatagoryAddActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.tids.shopncart.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity  android:exported="true" android:name="com.tids.shopncart.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_application_id" />



    </application>

</manifest>